<nav class="grid">
    <ul>
        <li><i class="fa-solid fa-table-columns"></i> Dashboard</li>
        <li><img src="./../../assets/Vector (1).png" alt=""> Onboarding</li>
        <li><i class="fa-solid fa-box"></i> Product and category</li>
        <li><img src="./../../assets/inventory_2_FILL1_wght500_GRAD0_opsz48 1.png" alt=""> Inventory</li>
        <li><i class="fa-solid fa-user-group"></i> User Management</li>
        <li><i class="fa-solid fa-list"></i> Order Management</li>
        <li><i class="fa-solid fa-indian-rupee-sign"></i> Transaction</li>
        <li><img src="./../../assets/table_chart_FILL1_wght400_GRAD0_opsz48 1.png" alt=""> Master Tables</li>
        <div class="angle">
            <i class="fa-solid fa-angle-left left rounded-circle"></i>
        </div>
        <div class="angle" style="display: none;">
            <i class="fa-solid fa-angle-right right  rounded-circle"></i>
        </div>
    </ul>
</nav>
