 <div class="main">
  <h3>Dashboard</h3>
  <div class="cards row">
    <div class="cardr col d-flex">
    <div class="text">
      <h6>Retailers </h6>
      <h4>16300 </h4>
      <a href=""> Enlarge</a>
    </div>
    <div id="chart" #chart>
      <apx-chart 
      #chart 
      [series]="chartOptions.series" 
      [chart]="chartOptions.chart" 
      [xaxis]="chartOptions.xaxis" 
      [stroke]="chartOptions.stroke" 
      [dataLabels]="chartOptions.dataLabels" 
      [yaxis]="chartOptions.yaxis" 
      [title]="chartOptions.title" 
      height="100">
    </apx-chart>
    </div>
    </div>
    <div class="cardr col d-flex">
      <div class="text">
        <h6>Sub Retailers </h6>
        <h4>16300</h4>
        <a href=""> Enlarge</a>
      </div>
      <div id="chart" #chart>
        <apx-chart 
        #chart 
        [series]="chartOptions.series" 
        [chart]="chartOptions.chart" 
        [xaxis]="chartOptions.xaxis" 
        [stroke]="chartOptions.stroke" 
        [dataLabels]="chartOptions.dataLabels" 
        [yaxis]="chartOptions.yaxis" 
        [title]="chartOptions.title" 
        height="100">
      </apx-chart>
      </div>
      </div>
      <div class="cardr col d-flex">
        <div class="text">
          <h6>Total sales </h6>
          <h4>16300</h4>
          <a href=""> Enlarge</a>
        </div>
        <div id="chart" #chart>
          <apx-chart 
          #chart 
          [series]="chartOptions.series" 
          [chart]="chartOptions.chart" 
          [xaxis]="chartOptions.xaxis" 
          [stroke]="chartOptions.stroke" 
          [dataLabels]="chartOptions.dataLabels" 
          [yaxis]="chartOptions.yaxis" 
          [title]="chartOptions.title" 
          height="100">
        </apx-chart>
        </div>
        </div>
        <div class="cardr col d-flex">
          <div class="text">
            <h6>Total Orders </h6>
            <h4>16300</h4>
            <a href=""> Enlarge</a>
          </div>
          <div id="chart" #chart>
            <apx-chart 
            #chart 
            [series]="chartOptions.series" 
            [chart]="chartOptions.chart" 
            [xaxis]="chartOptions.xaxis" 
            [stroke]="chartOptions.stroke" 
            [dataLabels]="chartOptions.dataLabels" 
            [yaxis]="chartOptions.yaxis" 
            [title]="chartOptions.title" 
            height="100">
          </apx-chart>
          </div>
          </div>
    <div class="cardr col d-flex">
      <div class="text">
        <h6>Total Requests</h6>
        <h4>16300</h4>
        <a href=""> Enlarge</a>
      </div>
      <div id="chart2">
        <apx-chart
          [series]="chartOptions2.series"
          [chart]="chartOptions2.chart"
          [labels]="chartOptions2.labels"
          [responsive]="chartOptions2.responsive"
        ></apx-chart>
      </div>
      </div>
  </div>
  <div class="displays mt-3 row">
   <app-sale class="col"></app-sale>
   <app-order class="col"></app-order>
 </div>
 <div class="displays mt-3 row">
  <app-inventory class="col"></app-inventory>
  <app-stock-request class="col"></app-stock-request>
</div>
 </div>


  <!-- <div id="chart">
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"></apx-chart>
  </div> -->
  