 <div class="main">
  <h3>Dashboard</h3>
  <div class="cards">
    <div class="card">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae nulla laborum sapiente?
    </div>
    <div class="card">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae nulla laborum sapiente?
    </div>
    <div class="card">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae nulla laborum sapiente?
    </div>
    <div class="card">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae nulla laborum sapiente?
    </div>
    <div class="card">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae nulla laborum sapiente?
    </div>
  </div>
  <div class="displays mt-3 row">
   <app-sale class="col"></app-sale>
   <app-order class="col"></app-order>
 </div>
 <div class="displays mt-3 row">
  <app-inventory class="col"></app-inventory>
  <app-stock-request class="col"></app-stock-request>
</div>
 </div>


  <!-- <div id="chart">
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"></apx-chart>
  </div> -->
  