.cards{
    display: flex;
    gap: 13px;
    margin: 0 2px;
}

.main{
    height: 83vh;
    overflow: scroll;
    overflow-x: hidden;
}

.displays{
    display: flex;
    flex-wrap: wrap;
    /* gap: 5px; */
}

.cardr{
    
    background: white;
    padding: 3px 10px;
    border-radius: 5px;
}

a{
    color: grey;
    font-size: 10px;
}

h4{
    color: #C1272D;
}


